.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 130px); 
}

.about-content {
    background-color: rgba(2, 0, 0, 0.603); 
    padding: 40px;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 75%; /* Ajusta este valor según tus necesidades */
    text-align: justify;
}

@media (max-width: 1080px) {
    .about-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(80vh - 100px); 
        font-size: 36px;
    }

    .about-content {
        max-width: 90%;
    }
}

@media (max-width: 1368px) {
    .about-container {
        height: calc(85vh - 100px); 
        font-size: 14px;
    }

    .about-content {
        max-width: 90%;
    }
}