.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(90vh - 150px); 
}

.about-content {
    background-color: rgba(2, 0, 0, 0.8); 
    padding: 40px;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 75%; /* Ajusta este valor según tus necesidades */
    text-align: justify;
}

.social-icons {
    text-align: center;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    transition: transform 0.3s ease;
}

.cat img {
    width: 500px;
    height: 375px;
    margin-top: 10px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.5);
}

@media (max-width: 1368px) {
    .about-container {
        height: calc(95vh - 150px); 
        font-size: 14px;
    }

    .about-content {
        max-width: 90%;
        max-height: 100%;
        padding: 20px;
    }
    
    .social-icons img {
        margin-top: -20px;
    }
}

@media (max-width: 1080px) {
    .about-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(85vh - 160px); 
        font-size: 34px;
    }

    .about-content {
        max-width: 90%;
    }

    .social-icons img {
        width: 60px;
        height: 60px;
        transition: transform 0.3s ease;
    }
}