@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000000;
    font-family: 'Ubuntu', sans-serif;
    background-image: url('../Img/bg.webp');
    background-repeat: repeat;
    background-size: auto;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    background-color: rgba(2, 0, 0, 0.603);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 1200px;
}

.welcome-text {
    color: #ffffff;
    margin-bottom: 3rem;
}

.welcome-text h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.welcome-text p {
    font-size: 1.2rem;
    opacity: 0.8;
}

.main-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.main-icon {
    text-align: center;
}

.main-icon a {
    text-decoration: none;
}

.main-icon img {
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease;
    filter: opacity(0.75)
}

.main-icon:hover img {
    transform: scale(1.1);
}

.main-icon h2 {
    margin-top: 1.5rem;
    color: #ffffff;
    font-size: 2rem;
}

@media (max-width: 1080px) {
    .content-container {
        width: 80%;
        padding: 30px;
    }

    .main-icons-container {
        flex-direction: column;
        gap: 3rem;
    }

    .welcome-text h1 {
        font-size: 2.5rem;
    }

    .welcome-text p {
        font-size: 1rem;
    }

    .main-icon img {
        width: 180px;
        height: 180px;
    }

    .main-icon h2 {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .content-container {
        padding: 20px;
    }

    .main-icons-container {
        gap: 2rem;
    }

    .welcome-text h1 {
        font-size: 2rem;
    }

    .main-icon img {
        width: 150px;
        height: 150px;
    }

    .main-icon h2 {
        font-size: 1.8rem;
    }
}