{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acerca de</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">    
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% include 'header.html' %}

    <div class="about-container">
        <div class="about-content">
            <h1>Acerca de</h1>
            <p><strong>Mi Biblioteca</strong> Nace con la idea de llevar un recuento visual de los libros que he leído desde 2014, cuando compre el lector de libros electrónicos Kindle.</p>
            <p>Los datos son extraidos de la red social de lectores <a href="https://www.goodreads.com">Goodreads</a> ,donde he llevado el recuento de los libros y mis calificaciones: </p>
            
            <h1>Datos técnicos</h1>
            <p>Otro propósito para la página es practicar mis conocimientos en Python. La página usa Django para crear la aplicación web y el manejo de la base de datos. </p>
            <p>Servidor casero montado en una  <a href="https://es.wikipedia.org/wiki/Raspberry_Pi">Raspberry Pi 3b</a></p>
            <p>En caso de querer ver el código de la aplicación, se encuentra disponible en <a href="https://github.com/Johanfer12/My_Bookshelf">GitHub</a></p>
            <p>¡Cualquier opinión o sugerencia será bien recibida!</p>

            <h1>Otras Páginas</h1>
            <p><a href="https://johanfer.pythonanywhere.com/">Mis canciones de Spotify y estadísticas de Twitter (X)</a></p>
            <p><a href="https://johanfer12.github.io/">Mi portafolio (En construcción)</a></p>


        </div>
    </div>
</body>
</html>