{% load static %}
<head>
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>  
<header class="header">
<link rel="stylesheet" href="{% static 'css/header.css' %}">  
  <div class="header-container">
    <div class="header-title">
      <h1>
        {% if request.path == '/bookshelf/' %}
          Mis Libros
        {% elif request.path == '/spotify/' %}
          Mi Música
        {% else %}
          Mis Libros
        {% endif %}
      </h1>
      {% if request.path == '/bookshelf/' %}
        <p class="total">{{ total_books }} libros</p>
      {% elif request.path == '/spotify/' %}
        <p class="total">{{ total_songs }} canciones</p>
      {% endif %}     
    </div>
    <nav class="header-nav">
        {% if request.path == '/bookshelf/' %}
            <a href="/bookshelf/stats/"><strong>Estadísticas</strong></a>
            <a href="/about/"><strong>Información</strong></a>
            <a href="/"><strong>Volver</strong></a>
        {% elif request.path == '/bookshelf/stats/' or request.path == '/about/' %}
            <a href="/bookshelf/"><strong>Volver</strong></a>
        {% elif request.path != '/' %}
            <a href="/"><strong>Volver</strong></a>
        {% endif %}
    </nav>
  </div>
</header>