{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Libros</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Lista de Libros</h1>
    <div class="book-container">
        {% for book in books %}
        <div class="book-item">
            <div class="book-info-container">
                <div class="book-cover">
                    <img src="{% static 'Img/Covers/' %}{{ book.id }}.jpg" alt="{{ book.title }}">
                </div>
                <div class="book-info">
                    <a href="https://www.goodreads.com{{ book.book_link }}" target="_blank" class="book-title">{{ book.title }}</a>
                    <p>Autor: {{ book.author }}</p>
                    <p>Mi calificación: {% for _ in "x"|ljust:book.my_rating %}
                        <span class="stars">&#9733;</span>
                    {% endfor %}</p>
                    <p>Calificación General: {{ book.public_rating }}</p>
                    <p>Fecha de Leído: {{ book.date_read }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>