<details class="header-tools">
    <summary title="Configuración" aria-label="Configuración de noticias">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true"><path d="M.102 2.223a.5.5 0 0 1 .815-.504l2.426 2.426 1.447-.386.386-1.447L2.75.386a.5.5 0 0 1 .504-.815 5 5 0 0 1 6.066 6.066l5.854 5.854a2 2 0 0 1-2.828 2.828L6.492 8.465A5 5 0 0 1 .102 2.223z"/></svg>
    </summary>
    <div class="header-tools-panel">
        <a href="{% url 'my_news:feed_management' %}">Editar fuentes y filtros</a>
        <a href="/noticias/redundancy-test/">Redundancia</a>
        <a href="/noticias/system-stats/">Estadísticas del sistema</a>
    </div>
</details>
