<!-- Modal para noticias -->
<div id="modal-{{ article.id }}" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeNewsModal('{{ article.id }}')">&times;</span>
        
        {% if article.image_url %}
        <img src="{{ article.image_url }}" alt="{{ article.title }}" class="modal-image">
        {% endif %}
        
        <h2>{{ article.title }}</h2>
        
        <div class="modal-meta">
            Publicado por {{ article.source.name }} el {{ article.published_date|date:"d/m/Y H:i" }}
        </div>
        
        <div class="modal-description">
            {{ article.description|safe }}
        </div>
        
        <div class="modal-actions">
            <a href="{{ article.link }}" target="_blank" class="btn btn-primary">Fuente</a>
            {% if user.is_staff %}
            <button class="btn btn-danger delete-btn" data-id="{{ article.id }}">Eliminar</button>
            {% endif %}
        </div>
    </div>
</div> 