<div class="news-card-container" id="news-{{ article.id }}">
    <div class="news-card">
        <div class="card-front">
            {% if article.image_url %}
            <img src="{{ article.image_url }}" alt="{{ article.title }}" class="news-image">
            {% endif %}
            <h3 class="news-title">{{ article.title }}</h3>
            <div class="news-meta">
                <span class="meta-info">{{ article.source.name }} - {{ article.published_date|date:"d/m/Y H:i" }}</span>
                {% if article.similarity_score %}
                    <span class="similarity-score">{{ article.similarity_score|floatformat:2 }}</span>
                {% endif %}
            </div>
        </div>
        <div class="card-back">
            <div class="news-description">
                {{ article.description|safe }}
            </div>
            <div class="news-links">
                <a href="{{ article.link }}" target="_blank" class="news-link">Fuente</a>
                {% if user.is_staff %}
                <button class="news-link delete-btn" data-id="{{ article.id }}">Eliminar</button>
                {% endif %}
            </div>
        </div>
    </div>
</div> 