{% comment %}
Botón y modal de ordenar, idénticos en Mis Libros y en Mi TV: mismas cuatro
opciones y el mismo marcado. Lo maneja static/js/sort_modal.js, que busca los
ids por su nombre, así que no hay nada que parametrizar.
{% endcomment %}
<button class="book-sort-btn" id="sortBtn" title="Ordenar" aria-label="Ordenar">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
        <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
    </svg>
</button>

<div id="sortModal" class="modal sort-modal" role="dialog" aria-modal="true" aria-labelledby="sortTitle">
    <div class="modal-content sort-modal-content">
        <button type="button" class="close sort-close" aria-label="Cerrar">&times;</button>
        <h2 id="sortTitle">Ordenar</h2>
        <div class="sort-options">
            <button type="button" class="sort-option" data-orden="fecha_desc">Fecha: recientes a antiguas</button>
            <button type="button" class="sort-option" data-orden="fecha_asc">Fecha: antiguas a recientes</button>
            <button type="button" class="sort-option" data-orden="nota_desc">Calificación: mayor a menor</button>
            <button type="button" class="sort-option" data-orden="nota_asc">Calificación: menor a mayor</button>
        </div>
    </div>
</div>
